# Environment
.env

# Dependencies
node_modules/

# Build outputs
dist/
dist-bundle/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Tests
coverage/

# OS files
.DS_Store
.vscode/

# Logs
*.log

# Terraform secrets
terraform/terraform.tfvars
terraform/**/.tmp/

diff.txt

# AI
.mcp.json
ai-docs/
